<header>
  <div class="d-flex justify-content-between align-items-center">
    <div class="logo">
      <img src="assets/logo.png" alt="logo" />
    </div>
    <div class="search">
      <products-search></products-search>
    </div>
    <div class="navigation">
      <eshop-frontend-nav></eshop-frontend-nav>
    </div>
    <div class="tool">
      <i class="pi pi-user p-text-secondary me-3" style="font-size: 1.5rem; cursor: pointer"></i>
      <orders-cart-icon style="cursor: pointer"></orders-cart-icon>
    </div>
  </div>
</header>
