header {
  background: #e4dede;
  margin-bottom: 12px;

  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  .logo {
    img {
      width: 160px;
    }
  }

  // .tool {
  //   .pi {
  //     margin-right: 10px;
  //   }
  // }
}
